body {
    margin: 0;
}

.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightskyblue;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
    padding: 10px;
    margin: 0px;
    border: solid 2px;
    border-radius: 0px 0px 2vh 2vh;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 0px 10px 0px 10px;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

#content {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2vh;
}

input[name=message] {
    width: 80%;
}

.message_list th,
td {
    text-align: left;
    padding-right: 15px;
}

.form-group textarea {
    font-family: Consolas, monaco, monospace;
    min-width: 40%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    clear: both;
}

.category {
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: pink;
    padding: 0vh 0vh 2vh 2vh;
    border-radius: 2vh;
}

.issue {
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: moccasin;
    padding: 2vh;
    border-radius: 2vh;
}

.issue>h3 {
    margin-top: 0px;
}

.issue>h4 {
    margin: 0px;
}

.issue>p {
    margin: 0px;
}

.issue>form>input {
    margin-top: 2vh;
}

.issue>li>h3 {
    margin-top: 0px;
}

.comment {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 2vh;
    background-color: lightgreen;
    border-radius: 2vh;
}

.comment>form>input {
    margin-top: 2vh;
}

.creation_details {
    font-size: 0.8em;
    color: darkslategray;
    margin: 0;
}

#content>ul {
    list-style-type: none;
}

#content>.issue_list {
    padding: 0;
}

.auth_options {
    margin-right: 20vh;
    float: right;
}

.message_box {
    white-space: pre-line;
}