<form action="{{ form_method }}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <label for="old_password">Old Password</label>
            <input type="password" name="old_password" id="old_password" />
        </div>
        <p>
            <em>Password must be 8 characters minimum length, not contain the username, and must contain a number, and a symbol.
            It must also not be a common password, or the same as your previous password.</em>
        </p>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" name="new_password" id="new_password" />
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" />
        </div>
        <input type="submit" value="Change Password" />
    </fieldset>
</form>
