{% extends "layout.html" %}
{% block title %}User Edit{% endblock %}
{% block content %}
    <h1>User Admin</h1>
    <a href="/users">Back to users list</a>
    <h3>Editing user with ID {{ user.id }}</h3>
    {% comment %} form for editing user details {% endcomment %}
    <form action="update" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   name="username"
                   placeholder="{{ user.username }}">
        </div>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text"
                   id="nickname"
                   name="nickname"placeholder="{{ user.nickname }}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="is_admin">Is_Admin</label>
            <input type="checkbox" id="is_admin" name="is_admin" {{ user.is_admin_checkbox }}>
            <p>Is admin at present?: {{ user.is_admin }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit Changes</button>
    </form>
{% endblock %}
