{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <h1>Change Password</h1>
    <h3>
        <a href="/user">Back to User Options</a>
    </h3>
    <p>{{ message }}</p>
    <form action="/user/change_password" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <label for="old_password">Old Password</label>
                <input type="password" name="old_password" id="old_password" />
            </div>
            <p>
                <em>Password must be 8 characters minimum length, not contain the username, and must contain a number..</em>
            </p>
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" id="new_password" />
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" />
            </div>
            <input type="submit" value="Change Password" />
        </fieldset>
    </form>
{% endblock %}
