{% extends "layout.html" %}
{% block title %}Update comment{% endblock %}
{% block content %}
    <h1>Update comment</h1>
    <p>{{ comment.get_title_and_text }}</p>
    <form method="post" action="update" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="text">Comment Text</label>
            <textarea id="text"
                      name="text"
                      rows="6"
                      maxlength="512"
                      placeholder="{{comment.text}}"></textarea>
        </div>
        <button type="submit">Update</button>
    </form>
{% endblock %}
