{% extends "layout.html" %}
{% block title %}Update comment{% endblock %}
{% block content %}
    <h1>Update comment</h1>
    <p>{{ comment.get_title_and_text }}</p>
    <form method="post" action="update" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="text">Comment Text</label>
            <textarea id="text"
                      name="text"
                      rows="6"
                      maxlength="512"
                      placeholder="{{comment.text}}"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image (optional)</label>
            <p>
                <em>512kb max filesize, .png or .jpg accepted</em>
            </p>
            <input type="file" id="image" name="image" accept="image/png, image/jpg">
        </div>
        <button type="submit">Update</button>
    </form>
{% endblock %}
