{% extends "layout.html" %}
{% block title %}{{ issue.name }}{% endblock %}
{% block content %}
    <h1>Issue: {{ issue.title }}</h1>
    <h3>
        <a href="/categories/{{ category.id }}/">Back to category: {{ category.name }}</a>
    </h3>
    <div class="issue">
        <h3>{{ issue.title }}</h3>
        <p class="creation_details">{{ issue.get_creation_details }}</p>
        <h4 style="margin:0">Description:</h4>
        <p class="message_box">{{ issue.description }}</p>
        {% if issue.image_filename != '' %}
            <div class="issue-image">
                <img src="/static/images/{{ issue.image_filename }}" alt="image">
                <p>
                    <a href="/static/images/{{ issue.image_filename }}" target="_blank">Open image in new tab</a>
                </p>
                {% comment %} todo switch to form {% endcomment %}
                {% if request.session.is_admin %}<a href="{{ issue.id }}/delete_image">Delete Image</a>{% endif %}
            </form>
        </div>
    {% endif %}
    {% comment %} if admin, allow edit and delete {% endcomment %}
    {% if request.session.is_admin %}
        <a href="{{ issue.id }}/update">Edit</a>
        <a href="{{ issue.id }}/delete">Delete</a>
        {% comment %} if user made it, allow edit {% endcomment %}
    {% elif request.session.user_id == category.author_id %}
        <a href="{{ issue.id }}/update">Edit</a>
    {% endif %}
</div>
<h2>Comments</h2>
{% if comments.count > 0 %}
    <ul>
        {% for comment in comments %}
            <div class="comment">
                <p class="creation_details">{{ comment.get_creation_details }}</p>
                <div class="comment-text">
                    <li>
                        <p class="message_box">{{ comment.text }}</p>
                    </li>
                </div>
                {% if comment.image_filename != '' %}
                    <div class="comment-image">
                        <img src="/static/images/{{ comment.image_filename }}" alt="image">
                        <p>
                            <a href="/static/images/{{ comment.image_filename }}" target="_blank">Open image in new tab</a>
                        </p>
                        {% if request.session.is_admin %}
                            <a href="{{ issue.id }}/comments/{{ comment.id }}/delete_image">Delete Image</a>
                        {% endif %}
                    </div>
                {% endif %}
                {% if request.session.is_admin %}
                    <a href="{{ issue.id }}/comments/{{ comment.id }}/update">Edit</a>
                    <a href="{{ issue.id }}/comments/{{ comment.id }}/delete">Delete</a>
                    {% comment %} if user made it, allow edit {% endcomment %}
                {% elif request.session.user_id == category.author_id %}
                    <a href="{{ issue.id }}/comments/{{ comment.id }}/update">Edit</a>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No comments made yet. Why not make one?</p>
{% endif %}
<a href="{{ issue.id }}/create_comment">Add a comment</a>
{% endblock content %}
